.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 60px;
    background-color: black;
}

.home-page-btn {
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 8px;
}

.search-field {
    display: flex;
    flex-direction: row;

    border-radius: 5px;
    height: 24px;
    margin-left: 8px;
    font-size: 18px;
    background-color: white;

    flex: 1;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 5px;
    font-size: 18px;
} 

.search-btn {
    margin-right: 5px;
    border: none;
    background-color: inherit;
}

.favorite-page-btn {
    background-color: inherit;
    color: white;
    margin-left: 8px;
    padding: 10px 6px;
    border-radius: 8px;
}

.favorite-page-btn:hover {
    background-color: hsl(0, 0%, 15%);
}

.login-page-btn {
    background-color: inherit;
    color: white;
    margin: 0 8px;
    padding: 10px 6px;
    border-radius: 8px;
}

.login-page-btn:hover {
    background-color: hsl(0, 0%, 15%);
}